KAFKA_HOST=kafka.home.local

DUMMY_META=dummy
DUMMY_KAFKA_TOPIC=load.testing.dummy.topic
DUMMY_KAFKA_GROUP_ID=load.testing.dummy.topic

DISK_META=disk
DISK_KAFKA_TOPIC=load.testing.disk.topic
DISK_KAFKA_GROUP_ID=load.testing.disk.group

CPU_META=cpu
CPU_KAFKA_TOPIC=load.testing.cpu.topic
CPU_KAFKA_GROUP_ID=load.testing.cpu.group

RAM_META=ram
RAM_KAFKA_TOPIC=load.testing.ram.topic
RAM_KAFKA_GROUP_ID=load.testing.ram.group